﻿@model ViewModel.KategoriProdukKesehatanViewModel

<h3>Apakah Anda Yakin Ingin Menghapusnya?</h3>
<div>
    <h4>CategoryProdukKesehatan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Created_By)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Created_On)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Created_On)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Modified_By)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Modified_On)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Modified_On)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Deleted_by)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Deleted_by)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Deleted_On)
        </dt>
        <dd class = "col-9 border border-2">
            @Html.DisplayFor(model => model.Deleted_On)
        </dd>
        <dt class = "col-3">
            @Html.DisplayNameFor(model => model.Is_Delete)
        </dt>
        <dd class = "col-9">
            @Html.DisplayFor(model => model.Is_Delete)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        var dataForm = new FormData($("#form-delete")[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    alert('Success');
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    $(".modal-body").html(result);
                    alert('Gagal');
                }
            }
        })
        return false;
    });
</script>