﻿@model ViewModel.KategoriProdukKesehatanViewModel

<h4>CategoryProdukKesehatan</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_By" class="control-label"></label>
                <input asp-for="Created_By" class="form-control" />
                <span asp-validation-for="Created_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_On" class="control-label"></label>
                <input asp-for="Created_On" class="form-control" />
                <span asp-validation-for="Created_On" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modified_By" class="control-label"></label>
                <input asp-for="Modified_By" class="form-control" />
                <span asp-validation-for="Modified_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modified_On" class="control-label"></label>
                <input asp-for="Modified_On" class="form-control" />
                <span asp-validation-for="Modified_On" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Delete" /> @Html.DisplayNameFor(model => model.Is_Delete)
                </label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <input type="submit" id="btn-edit" value="Edit" class="btn bg-gradient-success" />
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn bg-gradient-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                 </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function(){
        var dataForm = new FormData($("#form-edit")[0]); 
        $.ajax({
            url: this.action,
            type: this.method,
            data : dataForm,
            processData: false,
            contentType: false,
            success: function(result){
                if (result){
                    alert('Data Berhasil Disimpan!');
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert('Gagal');
                }
            }
        })
        return false;
    });
</script>