﻿@model IEnumerable<ViewModel.KategoriProdukKesehatanViewModel>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Created_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_On)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified_On)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted_On)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Delete)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Created_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Delete)
            </td>*@
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed style example">
  <button type="button" class="btn btn-danger btn-edit" data-id="@item.Id">
      <i class="material-icons opacity-10">Ubah</i></button>
  <button type="button" class="btn btn-success btn-delete" data-id="@item.Id">
      <i class="material-icons opacity-10">Hapus</i></button>
</div>

            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        var selId = $(this).attr("data-id");
        $.ajax({
                url: '@Url.Action("Edit")',
                data: { id: selId },
                type: 'get',
                success: function (result) {
                    $("#modal-title").html("Edit");
                    $(".modal-body").html(result);
					$(".modal").modal("show");
                }
            });
    });
    
    $(".btn-delete").click(function () {
        var selId = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Delete")',
            data: { id: selId },
            type: 'get',
            success: function (result){
                $("modal-title").html("Delete");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    })

</script>