﻿
@{
    ViewData["Title"] = "Kategori Produk Kesehatan";
}



      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <div class="row">
                      <div class="col-6">
                      <h3 class="card-title">@ViewData["Title"]</h3>
                  </div>
                  <div class="col-6 text-right">
                      <button type="button" id="btn-create" class="btn bg-gradient-primary">Create New</button>
                      
                  </div>
                  </div>
                  
              </div>
              
              <!-- /.card-header -->
              <div class="card-body">
                <div id="panel-body">
                    Content Goes Here
                </div>
              </div>
              <!-- /.card-body -->
              @*<div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>*@
            </div>
            </div>
          
             
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="modal-title">Modal title</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
	  </div>
	  <div class="modal-body">
		...
	  </div>
	</div>
  </div>
</div>

@section Scripts{
    <script type="text/javascript">

		
        

        function GetList() { // untuk memanggil List
            $.ajax({
                url: '@Url.Action("List")',
                type: 'get',
                success: function(result) {
                    $("#panel-body").html(result)
                }
            });
        }

        $(document).ready(function(){
            GetList();
        });

		$("#btn-create").click(function () {
			$.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
					$("#modal-title").html("Create");
                    $(".modal-body").html(result);
					$(".modal").modal("show");
                }
            });
		})

    </script>
}