﻿@model ViewModel.CariObatViewModel
<div class="row">
	<div class="col-md-12">
		<form id="form-cari-obat" name="form-cari-dokter">
			<div class="text-danger"></div>
		@if (ViewBag.Message != null)
        {
            <div class="card card-danger shadow">
              <div class="card-header">
                <h3 class="card-title">Message</h3>
            
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                @ViewBag.Message
              </div>
            </div>
        } else { }
			<div class="form-group">
				<label class="control-label">Insert at least 1 keyword to find doctor</label>
			</div>
			<div class="form-group">
				<label class="control-label">Select Location</label>
				@Html.DropDownListFor(
					model => model.Location, 
					(IEnumerable<SelectListItem>)ViewBag.Location, 
					new { @class = "form-select form-select-lg mb-3 form-control select-location", @id = "dropdown-location", @onclick="Reset()" }
				)
			</div>
			<div class="form-group">
				<label class="control-label">Insert Doctor's Name</label>
				<input type="text" class="form-control" id="txt-doc-name" placeholder="Masukkan Nama dokter" />
			</div>
			<div class="form-group">
				<label class="control-label">Select Specialization</label>
				@Html.DropDownListFor(
					model => model.Specialization,
					(IEnumerable<SelectListItem>)ViewBag.Specialization,
					new { @class = "form-select form-select-lg mb-3 form-control select-specialization", @id = "dropdown-specialization", @onclick="Reset()" }
				)
			</div>
			<div class="form-group">
				<label class="control-label">Select Medical Treatment</label>
				@Html.DropDownListFor(
					model => model.Treatment,
					(IEnumerable<SelectListItem>)ViewBag.Treatment,
					new { @class = "form-select form-select-lg mb-3 form-control select-treatment", @id = "dropdown-treatment", @onclick="Reset()" }
				)
			</div>
			<hr />
			<div class="row form-group align-middle">
				<div class="col-6">
					<button type="button" class="btn btn-block btn-outline-primary" id="btn-reset" name="btn-reset" onclick="Reset()">Reset</button>
				</div>
				<div class="col-6">
					<input type="submit" id="btn-cari" name="btn-cari" value="Find Doctor" class="btn btn-block btn-primary" />
				</div>
            </div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$("#dropdown-location").prepend("<option value='' disabled selected>-Select Location-</option>");
	$("#dropdown-specialization").prepend("<option value='' disabled selected>-Select Specialization-</option>");
	$("#dropdown-treatment").prepend("<option value='' disabled selected>-Select Treatment-</option>");
	$(document).ready(function(){
		$("#btn-reset").click(function(){
			$("#txt-doc-name").val('')
			$("#dropdown-location").prop('selectedIndex',0)
			$("#dropdown-specialization").prop('selectedIndex',0)
			$("#dropdown-treatment").prop('selectedIndex',0)
		})
	})
</script>