﻿@model ViewModel.CariDokterViewModel
<div class="row">
	<div class="col-md-12">
		<form method="get" id="form-cari-dokter" name="form-cari-dokter">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">Insert at least 1 keyword to find doctor</label>
			</div>
			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<select class="form-control form-select" id="dropdown-location" name="dropdown-location">
					<option value="" selected disabled>-Select Location-</option>
				@{
					foreach (var item in ViewBag.Location){
						<option value="@item.Id">@item.Name</option>
					}
				}
				</select>
				<span asp-validation-for="Location" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Doctor_Name" class="control-label"></label>
				<input type="text" asp-for="Doctor_Name" placeholder="Masukkan Nama dokter" class="form-control" />
				<span asp-validation-for="Doctor_Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Specialization" class="control-label"></label>
				<select class="form-control form-select" id="dropdown-specialization" name="dropdown-specialization" required>
					<option value="" selected disabled>-Select Specialization-</option>
				@{
					foreach (var item in ViewBag.Specialization){
						<option value="@item.Id">@item.Name</option>
					}
				}
				</select>
				<span asp-validation-for="Specialization" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Treatment" class="control-label"></label>
				<select class="form-control form-select" id="dropdown-treatment" name="dropdown-treatment">
					<option value="" selected disabled>-Select Medical Treatment-</option>
				@{
					foreach (var item in ViewBag.Treatment){
						<option value="@item.Id">@item.Name</option>
					}
				}
				</select>
				<span asp-validation-for="Treatment" class="text-danger"></span>
			</div>
			<hr />
			<div class="row form-group align-middle">
				<div class="col-4">
					<input type="button" id="btn-reset" name="btn-reset" class="btn btn-block btn-outline-primary" value="Reset" />
				</div>
				<div class="col-4">
					<input type="submit" id="btn-cari" name="btn-cari" class="btn btn-block btn-primary" value="Find Doctor" />
				</div>
				<div class="col-4">
					<button type="button" id="btn-cancel" class="btn btn-block btn-outline-danger" data-dismiss="modal">Close</button>
				</div>
            </div>
		</form>
	</div>
</div>
<script type="text/javascript">
	// Reset Done
	$(document).ready(function(){
		$("#btn-reset").click(function(){
			$("#Doctor_Name").val('')
			$("#dropdown-location").prop('selectedIndex',0)
			$("#dropdown-specialization").prop('selectedIndex',0)
			$("#dropdown-treatment").prop('selectedIndex',0)
		})
	})
	
	// Get Data From Dropdown
	$("#form-cari-dokter").submit(function(){
		Location_Id = $("#dropdown-location").val(),
		Doctor_Name = $("#Doctor_Name").val(),
		Specialization_Id = $("#dropdown-specialization").val(),
		Treatment_Id = $("#dropdown-treatment").val(),

		data = {
			Location_Id: Location_Id,
			Doctor_Name: Doctor_Name,
			Specialization_Id: Specialization_Id,
			Treatment_Id: Treatment_Id
		}
		
		$.ajax({
			url: '@Url.Action("Cari_Dokter")',
			type: 'post',
			data: { model : data },
			success: function (result){
				if (result){
                    $(".modal").modal('hide');
                }
			}
		})
		return false;
	})
	
</script>
