﻿@model IEnumerable<ViewModel.MenuViewModel>
@{
	Layout = "_Pasien-Layout";
	ViewData["Title"] = "Home - Pasien";
}
<div class="row">
	<div class="col-2">
		@foreach (var menu in Model)
	   {
		   <h3><i class="@menu.Small_Icon"></i>@Html.DisplayFor(modelMenu => menu.Name)</h3>
	   }
	</div>
	<div class="col-auto">
		<div class="row">
			<button type="button" class="btn bg-gradient-danger w-75 mb-0" id="btn-cari-obat">Cari Obat</button>
			@foreach(var menu in Model)
			{
				<div class="col-auto">
					<button type="button" class="btn btn-block" id="btn-@menu.Btn_Id" name="btn-@menu.Btn_Id" data-toggle="modal" data-target="#modal">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1"><i class="@menu.Big_Icon"></i></span>
							
							<div class="info-box-content text-left">
								<span class="info-box-text">@Html.DisplayFor(modelMenu => menu.Name)</span>
							</div>
						</div>
					</button>
				</div>
			}
		</div>
	</div>
</div>

<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @*Content Goes Here*@
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-primary" id="btn-kiri"></button>
        <button type="button" class="btn btn-primary" id="btn-kanan"></button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
	<script>
        //$(document).ready(function (){
        //    GetList();
        //});

        //function GetList() {
        //    $.ajax({
        //        url: 'Url.Action("Cari_Obat")',
        //        type: 'get',
        //        success: function(result) {
        //            $("#panel-body").html(result);
        //        }
        //    })
        //}

        $("#btn-cari-obat").click(function () {
            $.ajax({
                url: '@Url.Action("Cari_Obat")',
                success: function(result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            })
            
        })
        </script>

	@*@foreach (var menu in Model)
	{
		<script>
			$("#btn-@menu.Btn_Id").click(function(){
		        $.ajax({
		            url: '@Url.Action(@menu.Url)',
		            success: function(result){
		                $(".modal-title").html("@menu.Name");
		                $(".modal-body").html(result);
						$(".modal-footer").attr("hidden","hidden");
		            }
		        })
		    })

		</script>
	}*@
}
