﻿@model ViewModel.GolonganDarahViewModel

<h4>GolonganDarahViewModel</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Create" method="post" id="form-create" name="form-create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Code" class="control-label"></label>
				<input asp-for="Code" class="form-control" />
				<span asp-validation-for="Code" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$("#form-create").submit(function(){
		var dataForm = new FormData($("#form-create")[0]);
		$.ajax({
				url: this.action,
				type: this.method,
				data: dataForm,
				processData: false,
				contentType: false,
				success: function(result) {
						if(result){
							alert('Success');
							$(".modal").modal("hide");
							GetList();
						}else{
							alert('Error');
						}
				}
			})
			return false;
	});
</script>
