﻿@model IEnumerable<ViewModel.GolonganDarahViewModel>


<table class="table table-striped table-sm text-center">
    <thead>
        <tr>
            
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-group-sm btn-success btn-edit " data-id="@item.Id">
                            <i class="fas fa-pencil-alt"></i>
                        </button>

                        <button type="button" class="btn btn-group-sm btn-danger  btn-delete fas fa-trash-alt" data-id="@item.Id">
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @{
            for (int i = 1; i <= ViewBag.Pages; i++)
            {
                <li class="page-item">
                    <a class="page-link btn-link-page" data-id="@i" href="#">
                        @i
                    </a>
                </li>
            }
        }
    </ul>
</nav>

<script type="text/javascript">
      $(".btn-link-page").click(function(){
          var page = $(this).attr("data-id");
         GetList(page);
      })

    $(".btn-edit").click(function () {
         var selId = $(this).attr("data-id");
         $.ajax({
             url: '@Url.Action("Edit")',
             data: { id: selId },
             type: 'get',

             success: function (result) {
                     $("#modal-title").html("Edit Alamat");
                     $(".modal-body").html(result);
                     $(".modal").modal("show");
             }
         });
     })

     $(".btn-delete").click(function () {
         var selId = $(this).attr("data-id");
         $.ajax({
             url: '@Url.Action("Delete")',
             data: { id: selId },
             type: 'get',
             success: function (result) {
                     $("#modal-title").html("Hapus Alamat");
                     $(".modal-body").html(result);
                     $(".modal").modal("show");
             }
         });
     })
</script>
