﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

    ViewBag.SelectedView = "Golongan Darah";
    ViewData["Title"] = "Golongan Darah";
}
<div class="col-12">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3">
                <div class="row">
                    <div class="col-9">
                        <h6 class="text-white text-capitalize ps-3">List of @ViewData["Title"]</h6>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn bg-gradient-danger w-75 mb-0" id="btn-create">Create New</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0" id="panel-body">
                Content Goes Here @*di replace oleh function dibawah*@
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      @*<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div>
  </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var rowsPerpage = 4; 
        $(document).ready(function (){
            GetList(1);
        });

        function GetList(page) {
            $.ajax({
                url: '@Url.Action("ListPage")',
                type: 'get',
                data: { page: page, rows: rowsPerpage, search: $("#Search").val() },
                success: function(result) {
                    $("#panel-body").html(result);
                }
            })
        }

        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            })
            
        })

        $("#btn-search").click(function () {
            
               GetList(1);
            
        })
        </script>
}