﻿@model ViewModel.BiodataViewModel
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FullName)
            @Html.HiddenFor(model => model.MobilePhone)

            <div class="form-group">
                <label asp-for="Image_Path" class="control-label"></label>
                <input asp-for="Image_Path" class="form-control" readonly />
                <span asp-validation-for="Image_Path" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" accept=".jpg, .jpeg, .png, .gif" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function(){
        var dataForm = new FormData($("#form-edit")[0]);
        $.ajax({
            url : this.action,
            type : this.method,
            data : dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $("#modal-title").html("Edit Berhasil")
                    $(".modal-body").html("Berhasil");
                    $("#btn-cancel").html("Close");
                    window.location.reload();
                    GetList();
                } else {
                     $("#modal-title").html("Edit Gagal")
                    $(".modal-body").html("Gagal Mengubah Foto Profile");
                     $("#btn-cancel").html("Close");
                    $("#btn-cancel").attr("onclick", "location.reload()");
                }
            }
        })
        return false;
    });

</script>