﻿@model IEnumerable<ViewModel.PasienViewModel>

@{
    Layout = "_Pasien-Layout";
    ViewBag.SelectedView = "ProfilePasien";
}


<div class="wrapper">
    <div class="content-wrapper">
        <nav class="navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">

                <ul class="navbar-nav d-flex">
                    <li class="nav-item jus">
                        <a class="nav-link me-2" asp-area="" asp-controller="ProfilePasien" asp-action="Index" role="button" role="button">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">Alamat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ProfilePasien" asp-action="TabPembayaran" role="button">Pembayaran</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <section class="content">
            <div class="container-fluid">
                <aside class="main-sidebar sidebar-light border border-primary elevation-4 mt-auto rounded">
                    <!-- Brand Logo -->

                    <ul class="nav nav-pills nav-sidebar flex-column mt-5" data-widget="treeview" role="menu" data-accordion="false">

                        <img src="../../Foto/@ViewBag.Image" class="profile-user-img img-fluid img-circle" style="border-color:royalblue; max-width:200px; max-height: 200px;" />
                        <br />

                        <li class="nav-item mt-1 menu-open">

                            <ul class="nav nav-treeview">
                                <li class="nav-item text-center">
                                    <h2 class="font-weight-light text-center text-blue">@ViewBag.User</h2>
                                </li>
                                  <li class="nav-item text-center">
                                    <i class="fas fa-star" style="color:gold; width:20px; height:20px;"></i>
                                    <h5>Gold Member</h5>
                                    <h6>Since 2010</h6>
                                </li>
                                <li class="nav-item">
                                    
                                    <a class="nav-link btn-foto" data-toggle="modal" data-target="#modal" data-id="@ViewBag.Id" name="btn-foto">
                                        <i class="fas fa-user-edit nav-icon"></i>
                                        <p>Edit Foto</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item mt-1 menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">

                                        <i class="fas fa-male nav-icon"></i>
                                        <p>Pasien</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-capsules nav-icon"></i>
                                        <p>Pembelian Obat</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-user-clock nav-icon"></i>
                                        <p>Rencana Kedatangan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-user-md nav-icon"></i>
                                        <p>Riwayat Chat Dokter</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.sidebar -->
                </aside>

                Tes
                @*Content Goes Here*@
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(".btn-foto").click(function () {
         //alert("Tes Button Edit");
        var selId = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("Edit")',
                data: { id: selId },
                type: 'get',
                success: function (result) {
                        $("#modal-title").html("Edit Foto");
                        $(".modal-body").html(result);
                        $(".modal").modal("show");

                }
            });

        })
</script>
}

