﻿@{
    Layout = "_Pasien-Layout";
    ViewBag.SelectedView = "ProfilePasien";
}


<div class="wrapper">
    <div class="content-wrapper">
        <nav class="navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">

                <ul class="navbar-nav d-flex">
                    <li class="nav-item jus">
                        <a class="nav-link me-2 " asp-area="" asp-controller="ProfilePasien" asp-action="Profile" role="button">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" role="button">Alamat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="ProfilePasien" asp-action="TabPembayaran" role="button">Pembayaran</a>
                    </li>
                </ul>
            </ul>
        </nav>
        <section class="content">
            <div class="container-fluid">
                <aside class="main-sidebar sidebar-light border border-primary elevation-4 mt-auto rounded">
                    <!-- Brand Logo -->

                    <ul class="nav nav-pills nav-sidebar flex-column mt-5" data-widget="treeview" role="menu" data-accordion="false">

                        <img src="../../Foto/@ViewBag.Image" class="profile-user-img img-fluid img-circle" style="border-color:royalblue; max-width:200px; max-height: 200px;" />
                        <br />

                        <li class="nav-item mt-1 menu-open">

                            <ul class="nav nav-treeview">
                                <li class="nav-item text-center">
                                    <h2 class="font-weight-light text-center text-blue">@ViewBag.User</h2>
                                </li>
                                <li class="nav-item text-center">
                                    <i class="fas fa-star" style="color:gold; width:20px; height:20px;"></i>
                                    <h5>Gold Member</h5>
                                    <h6>Since 2010</h6>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link btn-foto" data-toggle="modal" data-target="#modal" data-id="@ViewBag.Id" name="btn-foto">
                                        <i class="fas fa-user-edit nav-icon"></i>
                                        <p>Edit Foto</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item mt-1 menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">

                                        <i class="fas fa-male nav-icon"></i>
                                        <p>Pasien</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-capsules nav-icon"></i>
                                        <p>Pembelian Obat</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-user-clock nav-icon"></i>
                                        <p>Rencana Kedatangan</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-user-md nav-icon"></i>
                                        <p>Riwayat Chat Dokter</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /.sidebar -->
                </aside>
                <div class="card mt-1">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                Kartu Kredit / Debit (1/4) Tersimpan
                            </div>
                            <div class="col-md-auto">
                                
                            </div>
                            <div class="col col-lg-2 text-right">
                                <a type="button" class="btn btn-primary btn-sm" id="btn-tambah" name="btn-tambah">Tambah</a>
                            </div>
                        </div>
                       
                    </div>
                    <div class="card-body ">
                        <table>
                            <tr>
                                <td>
                                    <p class="card-text text-muted">xxxx xxxx xxxx @ViewBag.CardNum</p>
                                </td>
                                <td class="text-center">
                                    <img src="../../Foto/mastercard.png" class="me-2" style="width:25px; height:25px;" />
                                </td>
                                <td>
                                    <i class="fas fa-trash-alt" style="opacity: 1; color: #3BB9FF;">&nbsp; Hapus</i>
                                </td>
                            </tr>
                             <tr>
                                <td class="text-center">
                                    <p class="card-text text-muted" style="font-size:10px;">@ViewBag.Month / @ViewBag.Year</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                Dompet Sehat
                            </div>
                           
                            <div class="col col-lg- text-right">
                            <input type="button" id="saldo" name="saldo" class="btn btn-primary btn-sm" value="Saldo" />
                            <input type="button" id="pin" name="pin" class="btn btn-primary btn-sm" margin-left: 10px;" value="Pin" />
                            <input type="button" class="btn btn-primary btn-sm" id="aktif" onclick="aktif()" value="Aktifkan" />
                            <input type="button" class="btn btn-danger btn-sm" id="tutup" onclick="tutup()" value="Tutup" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <form class="text-right" id="button">
                            
                        </form>

                        <h2 class="card-text text-blue" id="card-body">Aktifkan Saldo</h2>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                @*Content Goes Here*@
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    //script edit foto
     $(".btn-foto").click(function () {
         //alert("Tes Button Edit");
        var selId = $(this).attr("data-id");
            $.ajax({
                url: '@Url.Action("Edit")',
                data: { id: selId },
                type: 'get',
                success: function (result) {
                        $("#modal-title").html("Edit Foto");
                        $(".modal-body").html(result);
                        $(".modal").modal("show");
                }
            });
        });

    //modal
    $("#btn-tambah").click(function(){
        $("#modal-title").html("Tambah Kartu Kredit / Debit");
        $(".modal-body").html("disini Form Tambah Kartu");
        $(".modal").modal("show");
    });

    //script untuk enable button
          $('input[id="saldo"]').attr('disabled', true);
          $('input[id="pin"]').attr('disabled', true);
          $('input[id="aktif"]').attr('disabled', false);
          $('input[id="tutup"]').attr('disabled', true);

     $("#aktif").click(function(){
               $('input[id="saldo"]').attr('disabled', false);
               $('input[id="pin"]').attr('disabled', false);
               $('input[id="tutup"]').attr('disabled', false);
               $('input[id="aktif"]').attr('disabled', true);
               $('#card-body').html("Rp. 2.400.000");
     });

      $("#tutup").click(function(){
               $('input[id="saldo"]').attr('disabled', true);
               $('input[id="pin"]').attr('disabled', true);
               $('input[id="tutup"]').attr('disabled', true);
               $('input[id="aktif"]').attr('disabled', false);
               $('#card-body').html("Aktifkan Saldo");
     });

    

</script>
}