﻿@{
    ViewData["Controller"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewData["Title"]</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    </head>
    <style>
        body{
            font-family: 'PT Sans', sans-serif;
        }
    </style>
    <body class="hold-transition sidebar-mini layout-top-nav">
        <div class="wrapper">
            <div class="content-wrapper">
                <nav class="main-header navbar navbar-expand-md navbar-light navbar-white mb-4">
                    <div class="container">
                        <div class="col-2 text-left">
                            <a asp-controller="@ViewData["Controller"]" asp-action="Index">
                                <i class="fas fa-plus"></i> <b>Med. ID</b>
                            </a>
                        </div>
                        <div class="col-6">
                            <form>
                                <div class="input-group">
                                    <input type="search" class="form-control form-control-md" placeholder="Cari Dokter atau Fasilitas Kesehatan">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-md btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 text-right">
                            <button type="button" class="btn btn-outline-primary" id="btn-register" data-toggle="modal" data-target="#modal">Register</button>
                        </div>
                        <div class="col-2 text-left">
                            <button type="button" class="btn btn-primary" id="btn-login" data-toggle="modal" data-target="#modal">Login</button>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            <footer class="main-footer">
                <div class="d-none d-sm-block container">
                    <b>XSIS Academy - Batch 276</b> - Mini Project
                </div>
            </footer>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>
        <!-- SweetAlert2 -->
        <script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
        <script src="~/js~/js/material-dashboard.min.js?v=3.0.0"></script>

    </body>
    
    @RenderSection("scripts", required: false)
    <script>
        $("#btn-register").click(function(){
            $.ajax({
                url: '@Url.Action("Daftar")',
                type: 'get',
                success: function(result){
                    $(".modal-title").html("Daftar");
                    $(".modal-body").html(result);
                    $(".modal-footer").attr("hidden","hidden");
                }
            })
        })

        $("#btn-login").click(function(){
            $.ajax({
                url: '@Url.Action("ModalLogin")',
                success: function(result){
                    $(".modal-title").html("Login");
                    $(".modal-body").html(result);
                    $(".modal-footer").attr("hidden","hidden");
                }
            })
        })
    </script>
</html>