﻿@model ViewModel.KategoriFasilitasKesehatanViewModel

<h4>KategoriFasilitasKesehatanViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_By" class="control-label"></label>
                <input asp-for="Created_By" class="form-control" />
                <span asp-validation-for="Created_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_On" class="control-label"></label>
                <input asp-for="Created_On" class="form-control" />
                <span asp-validation-for="Created_On" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Modified_By" class="control-label"></label>
                <input asp-for="Modified_By" class="form-control" />
                <span asp-validation-for="Modified_By" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modified_On" class="control-label"></label>
                <input asp-for="Modified_On" class="form-control" />
                <span asp-validation-for="Modified_On" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted_by" class="control-label"></label>
                <input asp-for="Deleted_by" class="form-control" />
                <span asp-validation-for="Deleted_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted_On" class="control-label"></label>
                <input asp-for="Deleted_On" class="form-control" />
                <span asp-validation-for="Deleted_On" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Delete" /> @Html.DisplayNameFor(model => model.Is_Delete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-create").submit(function () {
        var dataForm = new FormData($("#form-create")[0]); 
        $.ajax({
            url: this.action,
            type: this.method,
            data : dataForm,
            processData: false,
            contentType: false,
            success: function (result){
                if(result){
                    alert('Sukses');
                    $(".modal").modal("hide");
                    GetList();
                }else{
                    alert('Gagal');
                }
            }
        })
        return false;
    });
</script>
