﻿@model ViewModel.LocationLevelViewModel
@{
    ViewData["Title"] = "_Create";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" id="form-create" name="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type = "text/javascript">
 $("#form-create").submit(function(){
        var dataForm = new FormData($("#form-create")[0]); 
        //console.log(dataForm);
        $.ajax({
            url : this.action,
            type: this.method,
            data : dataForm,
            prosesData: false,
            contentType: false,
            success: function(result){
                if (result){
                    alert("Success");
                    $(".modal").modal("hide");
                    Getlist();
                }
                else{
                    alert('Gagal');
                }
            }
        })
        return false;
    });    
</script>
