﻿@model ViewModel.LocationLevelViewModel

<dl class="row">
        <dd class = "col-12">
            <h5>Apakah Anda yakin ingin Hapus @Html.DisplayFor(model => model.Name)?</h5>
        </dd>
    </dl>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post" id="form-delete" name="form-delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
             @Html.HiddenFor(model => model.Name)
              @Html.HiddenFor(model => model.Abbreviation)
               @Html.HiddenFor(model => model.Created_by)
                @Html.HiddenFor(model => model.Created_on)
                 @Html.HiddenFor(model => model.Modified_by)
                  @Html.HiddenFor(model => model.Modified_on)
                   @Html.HiddenFor(model => model.Deleted_by)
                    @Html.HiddenFor(model => model.Deleted_on)
                     @Html.HiddenFor(model => model.Is_deleted)
            <div class="form-group text-center">
                <input type="submit" value="Ya" class="btn btn-danger" />
                <input type="button" class="btn btn-danger" id="btn-cancel" value="cancel"/>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-delete").submit(function(){
        var dataForm = new FormData($("#form-delete")[0]);
        $.ajax({
            url : this.action,
            type : this.method,
            data : dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $("#modal-title").html("Hapus Berhasil")
                    $(".modal-body").html("Berhasil");
                    $("#btn-cancel").html("Close");
                    $("#btn-cancel").attr("onclick", "location.reload()");
                    GetList();
                } else {
                    $("#modal-title").html("Hapus Gagal")
                    $(".modal-body").html("'Data Masih digunakan'");
                    $("#btn-cancel").html("Close");
                    $("#btn-cancel").attr("onclick", "location.reload()");
                    GetList();
                }
            }
        })
        return false;
    });
</script>
