﻿@model ViewModel.LocationLevelViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" id="form-edit" name="form-edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                @Html.HiddenFor(model => model.Id)
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation" class="control-label"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
      $(document).ready(function(){
        GetList();
    })

    $("#form-edit").submit(function(){
        var dataForm = new FormData($("#form-edit")[0]);
        $.ajax({
            url : this.action,
            type : this.method,
            data : dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $("#modal-title").html("Edit Berhasil")
                    $(".modal-body").html("Berhasil");
                    $("#btn-cancel").html("Close");
                    $("#btn-cancel").attr("onclick", "location.reload()");
                    GetList();
                } else {
                     $("#modal-title").html("Edit Gagal")
                    $(".modal-body").html("Gagal Data Nama Sudah digunakan");
                     $("#btn-cancel").html("Close");
                    $("#btn-cancel").attr("onclick", "location.reload()");
                }
            }
        })
        return false;
    });

</script>

