﻿@model IEnumerable<ViewModel.LocationLevelViewModel>

<table class="table table-striped table-sm text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbreviation)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbreviation)
            </td>
            <td>
               <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-group-sm btn-success btn-edit" data-id="@item.Id">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                      
                        <button type="button" class="btn btn-group-sm btn-danger  btn-delete" data-id="@item.Id">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">     
        @{
            for (int i = 1; i <= ViewBag.Pages; i++)
            { 
                <li class="page-item">
                    <a class="page-link btn-link-page" data-id="@i" href="#">
                        @i
                    </a>
                </li>
            }                    
        }
    </ul>
</nav>

<script type="text/javascript">
     $(".btn-link-page").click(function(){
         var page = $(this).attr("data-id");
        GetList(page);
     })

    $("#btn-search").click(function(){
       LoadFilter($("#Search").val());
    })
</script>
