﻿@{
    ViewData["Title"] = "Location Level";
}

<div class="containe">
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-primary shadow-primary border-radius-lg pt-4 pb-3">
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                    </div>
                    <div class="col-2">
                        <div class="form-inline">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="Search" id="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-sidebar" id="btn-search">
                                        <i class="fas fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-danger text-white fas fa-plus-square" id="btn-create" name="btn-create">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0" id="panel-body">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    var rowsPerpage = 3;
    $(document).ready(function(){
        GetList(1);
    })

    function GetList(page){
        $.ajax({
        url: '@Url.Action("ListPage")',
        type: 'get',
         data: { page: page, rows: rowsPerpage },
        success: function (result){
            $("#panel-body").html(result)
        }
        });
    }

    $("#btn-create").click(function(){
        $.ajax({
        url: '@Url.Action("Create")',
        type: 'get',
        prosesData: false,
        contentType: false,
        success: function (result){
            $("#modal-title").html("Create New");
            $(".modal-body").html(result)
            $(".modal").modal("show");
        }
        });
    })
</script>
}
