﻿@using ViewModel
@model ViewModel.BioDaftarViewModel


<div class="row">
    <div class="col-md-12">
        <form asp-action="BioDaftar" method="post" id="form-bio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Nama Lengkap</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label">Nomor Handphone</label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="RoleId" class="control-label">Daftar Sebagai</label>
                @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.RoleList, "--Pilih--", new { @class = "form-select form-select-lg mb-3 form-control" })
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Daftar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-bio").submit(function () {
        var dataForm = new FormData($("#form-bio")[0]);
        //console.log(dataForm);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType:false,
            success: function (result) {
                if (result) {
                    alert('Pendaftaran Sukses');
                    $(".modal").modal("hide");
                } else {
                    alert('Pendaftaran Gagal');
                }
            }
        })
        return false;
    });
</script>
