﻿@model ViewModel.PendaftaranViewModel

<p>Masukkan email Anda. Kami akan melakukan pengecekan</p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Daftar" method="post" id="form-daftar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kirim OTP" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $("#form-daftar").submit(function () {
        var dataForm = new FormData($("#form-daftar")[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $(".modal-body").html(result);
                }
            }
        })
        return false;
    });
</script>
