﻿@model ViewModel.UserViewModel
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login" method="post" id="form-login" name="form-login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewBag.Message != null)
        {
            <div class="card card-danger shadow">
              <div class="card-header">
                <h3 class="card-title">Message</h3>
            
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                @ViewBag.Message
              </div>
            </div>
        } else { }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" required/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" required/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group align-middle">
                <input type="submit" value="Login" class="btn btn-block btn-primary" />
                <hr />
                <button class="btn btn-block btn-outline-info">Forget Password ?</button>
                <p class="text-center">or</p>
                <button class="btn btn-block btn-outline-info">Dont have an account ? Register</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-login").submit(function (){
        var dataForm = new FormData($("#form-login")[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function(result){
                if(result){
                    $(".modal-body").html(result);
                }
            }
        })
        return false;
    });
</script>