﻿@model ViewModel.UserViewModel
<div class="row">
    <div class="col-md-12">
        <form asp-action="CheckRole" method="post" id="form-response" name="form-response">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewBag.Message != null)
        {
            <div class="card card-success shadow">
                <div class="card-header">
                    <h3 class="card-title">Message</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @ViewBag.Message
                    @ViewBag.Id
                    @ViewBag.Username
                    @ViewBag.Kontroler
                </div>
            </div>
        }
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" readonly/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group align-middle">
                <hr />
                @*belum diteruskan ke index controller masing2 role*@
                <input type="submit" value="Continue" class="btn btn-block btn-primary" id="btn-continue"/>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".modal-title").html("@ViewBag.Message");
    })

    $("#btn-continue").click(function(){
        // meneruskan nilai viewbag ke var javascript
        var message = @ViewBag.Message;
        var id = @ViewBag.Id;
        var username = @ViewBag.Username;
        var controller = @ViewBag.Kontroler;
        data = {
            Message: message;
            Id: id;
            Username: username;
            Controller: controller;
        }
        $.ajax({
            url: '@Url.Action("CheckRole")',
            type: 'post',
            data: { model: data },
            success: function (result){
                if (result){
                    $("#modal").modal('hide');
                }
            }
        })
    })
</script>