﻿@model ViewModel.SetPasswordViewModel

<p>Masukkan password baru untuk akun Anda</p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="SetPassword" method="post" id="form-password">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" name="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPass" class="control-label">Masukkan ulang password</label>
                <input asp-for="ConfirmPass" class="form-control" name="confirmPass" />
                <span asp-validation-for="ConfirmPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Set Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form-password").submit(function () {
        var dataForm = new FormData($("#form-password")[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $(".modal-body").html(result);
                }
            }
        })
        return false;
    });
</script>