﻿@model ViewModel.OTPViewModel

<p>Masukkan kode OTP yang telah dikirimkan ke email Anda</p>
<div class="row">
    <div class="col-md-12">
        <form asp-action="VerifyOTP" method="post" id="form-verify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OTP" class="control-label">Masukkan kode OTP</label>
                <input asp-for="OTP" class="form-control" name="kodeOTP" />
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Kirim ulang kode OTP dalam <span id="timer"></span></p>
                <button type="button" class="btn btn-primary btn-resend" disabled>Kirim Ulang OTP</button>
                <input type="submit" value="Konfirmasi OTP" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    let timerOn = true;
    function timer(remaining) {
        var m = Math.floor(remaining / 60);
        var s = remaining % 60;
        m = m < 10 ? '0' + m : m;
        s = s < 10 ? '0' + s : s;
        document.getElementById('timer').innerHTML = m + ':' + s;
        remaining -= 1;
        if(remaining >= 0 && timerOn) {
            setTimeout(function() {
            timer(remaining);
            }, 1000);
            return;
        }
        if(!timerOn) {
        // Do validate stuff here
            return;
        }
        $(".btn-resend").prop("disabled", false);
    }
    timer(90);

    $('.btn-resend').click(function() {
        $.ajax({
            url: '@Url.Action("ReSend")',
            type: 'get',
            success: function(result) {
                timer(90)
                $(".btn-resend").prop("disabled", true);
            }
        })
    });

    $("#form-verify").submit(function () {
        var dataForm = new FormData($("#form-verify")[0]);
        $.ajax({
            url: this.action,
            type: this.method,
            data: dataForm,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result) {
                    $(".modal-body").html(result);
                }
            }
        })
        return false;
    });
</script>