﻿@{
    ViewData["Error"] = "You can login again to access this page!";
    ViewData["Title"] = "404 Error Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewData["Title"]</title>

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    </head>
    <style>
        body{
            font-family: 'PT Sans', sans-serif;
        }
    </style>
    <body class="hold-transition sidebar-mini layout-top-nav">
        <div class="wrapper">
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col">
                                <h1>404 Error Page</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                  <div class="error-page">
                    <h2 class="headline text-primary"> 404</h2>
                
                    <div class="error-content">
                      <h3><i class="fas fa-exclamation-triangle text-primary"></i> Oops! Page not found.</h3>
                      <h5 class="text-primary">Message :<br /> @ViewData["Error"]</h5>
                      <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may <a asp-controller="Home" asp-action="Index">return to home</a>.
                      </p>
                    </div>
                  </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="d-none d-sm-block container">
                    <b>XSIS Academy - Batch 276</b> - Mini Project
                </div>
            </footer>
        </div>
        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>
    </body>
</html>