﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "_Home-Layout";
}

<div class="text-center">
    Teks dari Home
</div>

<div class="modal fade" id="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @*Content Goes Here*@
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" id="btn-kiri"></button>
        <button type="button" class="btn btn-outline-primary" id="btn-kanan"></button>
      </div>
    </div>
  </div>
</div>